xml-resources/jaxb/lhcmpbind/lhcomp_klaw.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="leafHouseComponents" >
        <xs:complexType>
            <xs:sequence>                                
                <xs:element name="sensor" maxOccurs="unbounded" >
                    <xs:complexType >
                        <xs:sequence >
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="pinPullResistance" type="xs:string" />
                            <xs:element name="onEvent" type="xs:string" />
                            <xs:element name="shutdownOptions" maxOccurs="1" >                                
                                <xs:complexType >
                                    <xs:sequence >
                                        <xs:element name="pinState" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="attachedGpioPin" type="xs:integer" use="required" />
                        <xs:attribute name="type" use="required" >
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="CONCURRENT"/>
                                    <xs:enumeration value="TYPE_EVENT"/>                                                                                
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="actuator" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"   />
                            <xs:element name="location" type="xs:string"  />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="preDefinedFunction" type="xs:string" />
                            <xs:element name="defaultPinState" type="xs:string" />
                            <xs:element name="shutdownOptions" maxOccurs="1" >                                
                                <xs:complexType >
                                    <xs:sequence >
                                        <xs:element name="unexport" type="xs:boolean"/>
                                        <xs:element name="pinState" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="attachedGpioPin" type="xs:integer" use="required" />
                    </xs:complexType>
                </xs:element>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>